.ginuwa{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.ginuwa-section1{
    width: 40%;
    height: 100%;
    background-color: beige;
}
.ginuwa-section2{
    width: 60%;
    height: 100%;
    background-color: bisque;
}
.ginwa-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}