.Largetext{
    margin-top: 275px;
    font-size: 3.3rem;
    text-align: center;
    font-weight: 500;
    color: white;
}
@media all and (max-width: 988px){
    .Largetext{
        font-size: 2rem;
        margin-top: 350px;
    }
}